<div class="navbar-cliente" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav id="mainNav"  th:fragment="Headercliente" class="main-nav">
        <div class="menu">
            <div class="menu-l">
                <button id="btnHamburguesa" class="btn-hamburger" aria-label="Menú">
                    <!-- icono -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/></svg>
                </button>
                <a th:href="@{/Cliente/index-cliente.html}">
                    <img th:src="@{/IMG/Logo_Luxy_Fashion.png}" alt="Logo" class="logo">
                </a>
            </div>

            <div class="menu-usuario">
                <svg id="btnUsuario" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>

                <div id="menuUsuario" class="menu-usuario-dropdown hidden">
                    <button id="btnCerrarSesion">Cerrar sesión</button>
                    <button id="btnEditar">Configuración</button>
                </div>
            </div>
        </div>
<div id="hamburgerMenu" class="hamburger-menu hidden" aria-hidden="true">
    <div class="hamburger-inner">
    </div>
</div>
</nav>
</div>
