<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <title>Gestión de Factura Compra</title>
</head>
<body class="body2">

<!-- Header admin -->
<div th:replace="~{itemss/headeradmin :: miHeader}"></div>

<div class="main">
    <div class="card">
        <h1>DETALLE FACTURA COMPRA</h1>
        <form class="formulario-mensaje" th:action="@{/admin/facturacompra/guardar}" method="post" th:object="${facturaCompra}">
            <div class="form-group">
                <label for="fechafactuc">Fecha:</label>
                <input type="date" id="fechafactuc" th:field="*{fechafactuc}" required>

                <label for="total">Total:</label>
                <input type="text" id="total" th:field="*{total}" placeholder="Total" required>
            </div>
            <div class="form-group">
                <label for="metodo_pago">Método de Pago:</label>
                <select  id="metodo_pago" th:field="*{metodo_pago}" required style="border-radius:8px">
                    <option value="Tarjeta">Tarjeta</option>
                    <option value="Pse">Pse</option>
                    <option value="Billetera babcaria">Billeteras digitales (nequi,daviplata)</option>
                    <option value="Efectivo">Efectivo</option>
                </select>

                <label for="estado">Estado:</label>
                <select id="estado" th:field="*{estado}" required style="border-radius:8px">
                    <option value="Pendiente">Pendiente</option>
                    <option value="Pagada">Pagada</option>
                    <option value="Abonada">Abonada</option>
                </select>
            </div>
            <div class="form-group">
                <label for="empleado">Empleado:</label>
                <select th:field="*{empleado.idEmple}" required style="border-radius:8px">
                    <option value="" disabled selected>-- Seleccione un empleado --</option>
                    <option th:each="e : ${empleados}"
                            th:value="${e.idEmple}"
                            th:text="${e.nomEmple}">
                    </option>
                </select>
                </div>

                <button type="submit" class="save-btn">Insertar</button>
        </form>

        <div id="mensaje" th:if="${param.success}" style="color:purple; font-weight:bold; margin-bottom:10px;">
            ¡Se insertó correctamente!
        </div>
    </div>

        <!-- BUSCADOR -->
        <div id="search" class="search">
            <form th:action="@{/admin/facturacompra/buscar}" method="get">
                <input type="text" name="buscar" placeholder="Escribe lo que quieras consultar" id="searchInput">
                <input type="submit" value="Buscar" id="btnSearch">
            </form>
        </div>

        <!-- TABLA DE FACTURAS -->
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Método Pago</th>
                <th>Estado</th>
                <th>Nombre Empleado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r : ${facturas}">
                <td th:text="${r.id_factuc}"></td>
                <td th:text="${#dates.format(r.fechafactuc, 'yyyy-MM-dd')}"></td>
                <td th:text="${r.total}"></td>
                <td th:text="${r.metodo_pago}"></td>
                <td th:text="${r.estado}"></td>
                <td th:text="${r.empleado.nomEmple}"></td>
                <td>
                    <a class="btn-accion" th:href="@{'/admin/facturacompra/editar/' + ${r.id_factuc}}">
                        Editar
                    </a>

                    <a
                            href="javascript:void(0)"
                            class="btn-eliminar"
                            th:data-id="${r.id_factuc}">
                        Eliminar
                    </a>
                </td>
            </tr>
            <tr th:if="${facturaCompra != null and #lists.isEmpty(facturas)}">
                <td colspan="7">No se encontraron resultados</td>
            </tr>
            </tbody>
        </table>
</div>

<!-- Scripts -->
<script th:src="@{/js/fk.js}"></script>
<script src="/js/confirmacion.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const toggleBtn = document.getElementById("formToggle");
      const submenu = document.getElementById("submenuForm");

      toggleBtn?.addEventListener("click", function(e) {
        e.preventDefault();
        submenu?.classList.toggle("show");
      });
    });
</script>
</body>
</html>
