
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f5f5f5;
    margin-left: 230px;
}


nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 230px;
    height: 100vh;
    background: linear-gradient(180deg, #6a0f2e, #3d061a);
    padding: 25px;
    display: flex;
    flex-direction: column;
    
}

nav h1{
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-size: 22px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 12px 15px;
    margin: 5px 0;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover{
    background: #7e1a3f;
    transform: translateX(5px);
}

hr{
    display: none;
}

/* --- CONTENIDO --- */
main{
    padding: 40px;
    display: flex;
    justify-content: center;
}

/* contenedor interno */
main > *{
    width: 100%;
    max-width: 1100px;
}

/* --- TITULO --- */
h2{
    color: #7e1a3f;
    margin-bottom: 15px;
}

/* 🔥 BOTÓN CREAR (FUNCIONA CON TODOS TUS HTML) */
h2 + a{
    display: inline-block;
    background: linear-gradient(135deg, #7e1a3f, #a8325f);
    color: white;
    padding: 10px 22px;
    border-radius: 25px;
    margin: 10px 0 20px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
}

h2 + a:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(126,26,63,0.3);
}


form{
    background: white;
    padding: 50px;
    border-radius: 15px;
    max-width: 500px;
    margin: 0 auto 40px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

label{
    display: block;
    margin-bottom: 8px;
    color: #7e1a3f;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1.5px solid #ddd;
    border-radius: 25px;
    outline: none;
}

input:focus{
    border-color: #7e1a3f;
}


button{
    width: 100%;
    background: linear-gradient(135deg, #7e1a3f, #a8325f);
    color: white;
    padding: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


table{
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    padding: 40px;
}

th{
    background: #7e1a3f;
    color: white;
    padding: 12px;
    font-size: 14px;
}

td{
    padding: 10px;
    border-top: 1px solid #eee;
    font-size: 13px;
}

tr:hover{
    background: #fafafa;
}


td a{
    display: inline-block;
    padding: 6px 10px;
    margin: 2px;
    border-radius: 8px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}


td a:first-child{
    background: #e6f0ff;
    color: #2d6cdf;
}


td a:last-child{
    background: #ffe6e6;
    color: #d33;
}