### --- JAVA / SPRING BOOT --- ###
**/target/
*.class
.mtj.tmp/
*.jar
*.war

### --- PHP --- ###
vendor/
.phpunit.result.cache
.php_cs.cache

### --- PYTHON / DJANGO --- ###
**/__pycache__/
*.py[cod]
venv/
db.sqlite3

### --- SEGURIDAD Y EDITORES --- ###
.env
.vscode/
.idea/
.DS_Store

### --- EXTRAS --- ###
*.log                # Archivos de registro de errores
.phpunit.result.cache
/node_modules/       # Si llegas a usar librerías de JS/Three.js con npm