<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Luxy Fashion</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'inventario/css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'lista_provee' %}">Proveedores</a> | 
        <a href="{% url 'lista_estampado' %}">Estampados</a> | 
        <a href="{% url 'lista_mmtp' %}">Materia Prima</a>
    </nav>
    <hr>
    <main>
        {% block contenido %}
        {% endblock %}
    </main>
</body>
</html>