{% extends 'usuarios/base.html' %}

{% block content %}

<h2>Lista de Usuarios</h2>

<a href="{% url 'crear_usuario' %}">Crear Usuario</a>
<table border="1">

<tr>
<th>ID</th>
<th>Username</th>
<th>Rol</th>
<th>Acciones</th>
</tr>

{% for usuario in usuarios %}
<tr>

<td>{{ usuario.id_usuario }}</td>
<td>{{ usuario.username }}</td>
<td>{{ usuario.id_rol_fk }}</td>

<td>
<a href="/usuario/editar/{{usuario.id_usuario}}/">Editar</a>
<a href="/usuario/eliminar/{{usuario.id_usuario}}/">Eliminar</a>
</td>

</tr>
{% endfor %}

</table>

{% endblock %}