<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:Correo="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editar empleado</title>
    <link rel="stylesheet" href="../../CSS/index.css">
    <img th:src="@{/IMG/logoB.png}" height="100PX" style = "margin-left: 48%;">
</head>
<body>
<div class="container-1">
    <div class="formulario-1">
        <form th:action="@{/cliente/guardar}" th:object="${cliente}" method="post">
            <h2>Registro</h2>
            <span>Actualizar</span>
            <div class="container-input">
                <input type="hiden" placeholder="Nombre Completo" th:field="*{nomClien}" required>
            </div>
            <div class="container-input">
                <input type="text" placeholder="Dirección" th:field="*{dir_clien}" required>
            </div>
            <div class="container-input">
                <input type="text" placeholder="Teléfono" th:field="*{tel_clien}" required>
            </div>
            <div class="container-input">
                <input type="email" placeholder="Correo" th:field="*{correo}" required>
            </div>
            <div class="container-input">
                <input type="hidden" placeholder="Usuario" th:field="*{usuario}" required>
            </div>
            <div class="container-input">
                <input type="password" placeholder="Contraseña" th:field="*{contra_clien}" required>
            </div>
            <div th:if="${error}" th:text="${error}" style="color:red;"></div>
            <button type="submit" class="button-ingre">Actualizar</button>
        </form>
    </div>

</div>
</body>
</html>