<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Pedido</title>
    <link rel="stylesheet" th:href="@{/css/cliente.css}">
</head>
<body>

<div class="prod-cli-header">
    <header th:replace="itemss/headerCliente :: Headercliente"></header>
</div>

<div class="con-pro-cli">
    <div class="imagen-producto">
        <img th:src="@{${p.link_produc}}" alt="Producto">
    </div>

    <div class="form-pro">
        <form th:action="@{/pedido/guardar}" method="post">
            <!-- Inputs ocultos para producto y cliente -->
            <input type="hidden" name="productoId" th:value="${producto.id_produc}">
            <input type="hidden" name="clienteId" th:value="${cliente.id_clien}">

            <label>Nombre:</label>
            <input type="text" name="nomPed" th:value="${producto.nomProduc}" readonly>

            <label>Descripción:</label>
            <textarea name="desc_ped" readonly th:text="${producto.desc_produc}"></textarea>

            <label>Valor:</label>
            <input type="text" name="valor_ped" th:value="${producto.produccion.precioUnitario}" readonly>

            <label>Cantidad:</label>
            <input type="number" name="cant_ped" value="1" min="1">

            <label>Material:</label>
            <input type="text" name="material_ped" th:value="${producto.material_produc}" readonly>

            <label>Color:</label>
            <input type="text" name="color_ped">

            <label>Talla:</label>
            <input type="text" name="talla_ped">

            <label>Categoría:</label>
            <input type="text" name="categoria_ped" th:value="${producto.categoria_produc}" readonly>

            <button type="submit">Comprar</button>
        </form>
    </div>
</div>

</body>
</html>
