{% extends 'base.html' %}
{% block content %}

<div class="main-content">
    <div class="container-wide" style="max-width: 600px;">
        
        <h2 style="color: #6a0f2e; margin-bottom: 25px; text-align: center;">
             Editar Cliente
        </h2>
        
        <div class="form-card">
            <form method="POST">
                {% csrf_token %}

                <div class="form-group" style="margin-bottom: 15px;">
                    <label>Nombre</label>
                    <input type="text" name="nom_clien" value="{{ cliente.nom_clien }}" maxlength="25" minlength="4" required>
                </div>

                <div class="form-group" style="margin-bottom: 15px;">
                    <label>Dirección</label>
                    <input type="text" name="dir_clien" value="{{ cliente.dir_clien }}" maxlength="10" minlength="80" required>
                </div>

                <div class="form-grid">
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" name="tel_clien" value="{{ cliente.tel_clien }}" minlength="10" maxlength="10" required>
                    </div>

                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" name="correo_clien" value="{{ cliente.correo_clien }}" maxlength="50" minlength="7" required>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 15px;">
                    <label>Usuario</label>
                        <input value="{{ cliente.id_usuario_fk.username }}" name="id_usuario_fk" readonly>
                    </input>
                </div>

                <div style="margin-top: 30px; display: flex; flex-direction: column; gap: 12px;">
                    <button type="submit" class="btn-save"> Actualizar</button>
                    <a href="{% url 'usuarios:lista_clientes' %}" 
                       style="text-align: center; color: #666; text-decoration: none; font-size: 14px;">
                        Cancelar
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}