{% extends 'base.html' %}
{% block content %}

<div class="main-content">
    <div class="container-wide" style="max-width: 600px;">
        
        <h2 style="color: #6a0f2e; margin-bottom: 25px; text-align: center;">
             Editar Cliente
        </h2>
        
        <div class="form-card">
            <form method="POST">
                {% csrf_token %}

                <div class="form-group" style="margin-bottom: 15px;">
                    <label>Nombre</label>
                    <input type="text" name="nom_clien" value="{{ cliente.nom_clien }}" required>
                </div>

                <div class="form-group" style="margin-bottom: 15px;">
                    <label>Dirección</label>
                    <input type="text" name="dir_clien" value="{{ cliente.dir_clien }}" required>
                </div>

                <div class="form-grid">
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" name="tel_clien" value="{{ cliente.tel_clien }}" required>
                    </div>

                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" name="correo_clien" value="{{ cliente.correo_clien }}" required>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 15px;">
                    <label>Usuario</label>
                    <select name="id_usuario_fk" required>
                        {% for usuario in usuarios %}
                        <option value="{{ usuario.id_usuario }}"
                        {% if usuario.id_usuario == cliente.id_usuario_fk_id %}
                        selected
                        {% endif %}
                        >
                        {{ usuario.username }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div style="margin-top: 30px; display: flex; flex-direction: column; gap: 12px;">
                    <button type="submit" class="btn-save"> Actualizar</button>
                    <a href="{% url 'usuarios:lista_clientes' %}" 
                       style="text-align: center; color: #666; text-decoration: none; font-size: 14px;">
                        Cancelar
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}