<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Producción</title>
    <link rel="stylesheet" th:href="@{/CSS/index.css}">
</head>
<body class="body2">
<div th:replace="~{itemss/headeremple :: miHeader}"></div>

<div class="main">
    <div class="card">
<h1>Gestio de Produccion </h1>
<form th:action="@{/emple/produccion/guardar}" th:object="${produccion}" method="post">
<div class="form-group">
    <input type="date" placeholder="Fecha inicio"
           onfocus="this.type='date'" onblur="if(!this.value) this.type='text'" th:field="*{fechaIniProducc}">
    <input type="number" th:field="*{cant_producc}" id="cantidad" placeholder="Cantidad">
 </div>

    <div class="form-group">
    <input type="number" th:field="*{costo_mano_obra_producc}" id="manoObra" placeholder="Costo Mano de Obra">

    <input type="number" th:field="*{costo_mat_producc}" id="SubTotal" placeholder="Costo Material">
    </div>

        <div class="form-group">
    <input type="number" th:field="*{costo_iva_producc}" id="Iva" placeholder="Costo IVA">

    <input type="number" th:field="*{costo_total_producc}" id="Total" placeholder="Costo Total">
        </div>

    <div class="form-group">
        <input type="date" placeholder="Fecha fin"
               onfocus="this.type='date'" onblur="if(!this.value) this.type='text'" th:field="*{fecha_fin_producc}">
    <input type="text" th:field="*{estado_producc}" placeholder="Estado">
    </div>
    <div class="form-group">
    <select th:field="*{empleado}">
        <option value="">Empleado</option>
        <option th:each="emp:${empleados}" th:value="${emp.idEmple}" th:text="${emp.nomEmple}"></option>
    </select>
    <select th:field="*{pedido}">
        <option value="">Pedido</option>
        <option th:each="ped:${pedidos}" th:value="${ped.id_pedido}" th:text="${ped.id_pedido}"></option>
    </select>
        <select th:field="*{materiaPrima}">
            <option value="">Materia Prima</option>
            <option th:each="mat:${materias}" th:value="${mat.id_matp}" th:text="${mat.nomMatp}"></option>
        </select>
        <div id="mensaje" th:if="${param.success}" style="color:purple; font-weight:bold; margin-bottom:10px;">
            ¡Se insertó correctamente!
        </div>
    </div>
    <button type="submit" class="save-btn">Guardar</button>
</form>
    </div>


<div id="search" class="search">
    <form th:action="@{/admin/facturacompra/buscar}" method="get">
        <input type="text" name="buscar" placeholder="Escribe lo que quieras consultar" id="searchInput">
        <input type="submit" value="Buscar" id="btnSearch">
    </form>
</div>

<!-- ========================= TABLA ========================= -->
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Fecha Inicial</th>
        <th>Cantidad</th>
        <th>Mano Obra</th>
        <th>Material</th>
        <th>IVA</th>
        <th>Total</th>
        <th>Fecha Fin</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="prc : ${producciones}">
        <td th:text="${prc.id_producc}"></td>
        <td th:text="${prc.fechaIniProducc}"></td>
        <td th:text="${prc.cant_producc}"></td>
        <td th:text="${prc.costo_mano_obra_producc}"></td>
        <td th:text="${prc.costo_mat_producc}"></td>
        <td th:text="${prc.costo_iva_producc}"></td>
        <td th:text="${prc.costo_total_producc}"></td>
        <td th:text="${prc.fecha_fin_producc}"></td>
        <td th:text="${prc.estado_producc}"></td>

        <td>
            <a th:href="@{'/emple/produccion/editar/' + ${prc.id_producc}}">Editar</a>
            <a th:href="@{'/emple/produccion/eliminar/' + ${prc.id_producc}}"
               onclick="return confirm('¿Seguro que deseas eliminar?')">Eliminar</a>
        </td>
    </tr>

    <tr th:if="${#lists.isEmpty(producciones)}">
        <td colspan="10">No hay registros</td>
    </tr>

    </tbody>
</table>
    </div>
<script th:src="@{/js/confirmacion.js}"></script>
<script th:src="@{/js/eliminar.js}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const toggleBtn = document.getElementById("formToggle");
      const submenu = document.getElementById("submenuForm");

      toggleBtn?.addEventListener("click", function(e) {
        e.preventDefault();
        submenu?.classList.toggle("show");
      });
    });
</script>
<!--calculo-->
<script>
const subTotal = document.getElementById("SubTotal");
const iva = document.getElementById("Iva");
const total = document.getElementById("Total");
const manoObra = document.getElementById("manoObra");
const cant = document.getElementById("cantidad")

function calcularTotal() {
const sub = parseFloat(subTotal.value) || 0;
const ivaPct = parseFloat(iva.value) || 0;
const mano = parseFloat(manoObra.value) || 0;

const tot = mano + sub + (sub * ivaPct / 100);

total.value = tot.toFixed(2); // 2 decimales

}

subTotal.addEventListener("input", calcularTotal);
iva.addEventListener("input", calcularTotal);
</script>
</body>
</html>
