{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>Luxy Fashion</title>

<link rel="stylesheet" href="{% static 'css/formularios/estilo.css' %}">

</head>

<body>

<!-- SIDEBAR -->
<nav class="sidebar">
    <h1>Luxy Fashion</h1>

    <div class="menu">
        <a href="{% url 'usuarios:lista_roles' %}"> Roles</a>
        <a href="{% url 'usuarios:lista_usuarios' %}"> Usuarios</a>
        <a href="{% url 'usuarios:lista_empleados' %}"> Empleados</a>
        <a href="{% url 'usuarios:lista_clientes' %}"> Clientes</a>
        <a href="{% url 'ventas:form_producto' %}">Productos</a>
        <a href="{% url 'inventario:lista_provee' %}">Proveedores</a>
        <a href="{% url 'inventario:lista_estampado' %}"> Estampados</a>
        <a href="{% url 'inventario:lista_mmtp' %}">Materia Prima</a>

    </div>

    <div class="active">
        <form action="{% url 'usuarios:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
    </div>
</nav>


<div class="main-content">

    
    <div class="header">
        <h2>Consola de administración {{ request.user.username }}</h2>
        <div class="user"></div>
    </div>


</div>

<hr>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{% block content %}
{% endblock %}

</body>
</html>