{% extends 'usuarios/base.html' %}

{% block content %}

<div class="page">

    <div class="page-header">
        <h3>Usuarios</h3>

        <div class="actions">
            <input type="text" placeholder=" Buscar...">
            <a href="{% url 'usuarios:crear_usuario' %}" class="btn">+ Crear Usuario</a>
        </div>
    </div>

    <div class="table-card">

        <div class="table-top">
            <span><strong>{{ usuarios|length }}</strong> registros</span>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id_usuario }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.id_rol_fk }}</td>
                    <td>
                        <a href="{% url 'usuarios:editar_usuario' id=usuario.id_usuario %}" class="edit">Editar</a>
                        <a href="{% url 'usuarios:eliminar_usuario' id=usuario.id_usuario %}" class="delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock %}