<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editar rol</title>
    <link rel="stylesheet" href="../../CSS/index.css">
    <img src="" height="50PX">
</head>
<body class= "body">
<div class="container-1">
    <div class="formulario-1">
        <form th:action="@{/roles/guardar}" method="post" th:object="${rol}">
            <h1 th:text="${rol != null and rol.id_rol != null} ? 'Editar Rol' : 'Nuevo Rol'"></h1>
            <input type="hidden" name="id_rol" th:field="*{id_rol}">
            <label >Nombre: </label>
            <input type="text" name="nom_rol" th:field="*{nomRol}" required>
            <label >Descripcion: </label>
            <input type="text" name="desc_rol" th:field="*{desc_rol}" required>
            <button type="submit">Actualizar</button>
        </form>
        <div id="mensaje" th:if="${param.success}" style="color:purple; font-weight:bold; margin-bottom:10px;">
            ¡Se guardo correctamente!
        </div>
    </div>

</div>
<script src="/js/confirmacion.js"></script>
</body>
</html>