{% extends 'usuarios/base.html' %}

{% block content %}

<h2>Lista de Clientes</h2>

<a href="{% url 'crear_cliente' %}">Crear Cliente</a>

<table border="1">

<tr>
<th>ID</th>
<th>Nombre</th>
<th>Direccion</th>
<th>Telefono</th>
<th>Correo</th>
<th>Nombre de usuario</th>
<th>Acciones</th>
</tr>

{% for cliente in Clientes %}
<tr>

<td>{{ cliente.id_clien }}</td>
<td>{{ cliente.nom_clien }}</td>
<td>{{ cliente.dir_clien }}</td>
<td>{{ cliente.tel_clien }}</td>
<td>{{ cliente.correo_clien }}</td>
<td>{{ cliente.id_usuario_fk.username }}</td>

<td>
<a href="{% url 'editar_cliente' id=cliente.id_clien %}">Editar</a>
<a href="{% url 'eliminar_cliente' id=cliente.id_clien %}">Eliminar</a>
</td>

</tr>
{% endfor %}

</table>

{% endblock %}