{% extends 'base.html' %}

{% block content %}

<div class="page">

    <!-- TITULO -->
    <div class="page-header">
        <h3>Crear Rol</h3>
    </div>

    <!-- CARD -->
    <div class="form-card">

        <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Nombre Rol</label>
            <input type="text" name="nom_rol" required>
        </div>

        <button type="submit" class="btn-save">Guardar</button>

        </form>

    </div>

</div>

{% endblock %}