{% extends 'base.html' %}
{% block content %}

<div class="main-content">
    <div class="container-wide" style="max-width: 500px;">
        
        <h2 style="color: #6a0f2e; margin-bottom: 25px; text-align: center;">
             Editar Rol
        </h2>
        
        <div class="form-card">
            <form method="POST">
                {% csrf_token %}

                <div class="form-group" style="margin-bottom: 15px;">
                    <label>Nombre del rol</label>
                    <input type="text" name="nom_rol" value="{{ rol.nom_rol }}" required>
                </div>

                <div style="margin-top: 30px; display: flex; flex-direction: column; gap: 12px;">
                    <button type="submit" class="btn-save"> Actualizar</button>
                    <a href="{% url 'usuarios:lista_roles' %}" 
                       style="text-align: center; color: #666; text-decoration: none; font-size: 14px;">
                        Cancelar
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}