{% extends 'usuarios/base.html' %}

{% block content %}

<div class="page">

    <div class="page-header">
        <h3>Clientes</h3>

        <div class="actions">
            <input type="text" placeholder=" Buscar...">
            <a href="{% url 'crear_cliente' %}" class="btn">+ Crear Cliente</a>
        </div>
    </div>

    <div class="table-card">

        <div class="table-top">
            <span><strong>{{ clientes|length }}</strong> registros</span>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.id_clien }}</td>
                    <td>{{ cliente.nom_clien }}</td>
                    <td>{{ cliente.dir_clien }}</td>
                    <td>{{ cliente.tel_clien }}</td>
                    <td>{{ cliente.correo_clien }}</td>
                    <td>{{ cliente.id_usuario_fk.username }}</td>
                    <td>
                        <a href="{% url 'editar_cliente' id=cliente.id_clien %}" class="edit">Editar</a>
                        <a href="{% url 'eliminar_cliente' id=cliente.id_clien %}" class="delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock %}