*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav{
    display: block;
    position: relative;
    width: 100%;
}
nav .menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav .menu .Menu-l{
    display: flex;
}

nav .menu .Menu-l img{
    display: block;
    width: 80px;
    height: 40px;
}





