{% extends 'usuarios/base.html' %}

{% block content %}

<div class="page">

    <!-- ENCABEZADO -->
    <div class="page-header">
        <h3>Editar Rol</h3>
    </div>

    <!-- TARJETA -->
    <div class="form-card">

        <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Nombre del rol</label>
            <input type="text" name="nom_rol" value="{{ rol.nom_rol }}" required>
        </div>

        <!-- BOTONES -->
        <div class="form-actions">
            <button type="submit" class="btn-save">Actualizar</button>
            <a href="{% url 'lista_roles' %}" class="btn-cancel">Cancelar</a>
        </div>

        </form>

    </div>

</div>

{% endblock %}