{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - Luxy Fashion</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="nav">
    <a href="{% url 'index' %}">
        <img src="{% static 'IMG/Logo_Luxy_Fashion.jpg' %}" alt="Logo">
    </a>
</div>

<div class="main-container" id="container">
    
    <div class="form-container sign-up-container">
        <form action="{% url 'usuarios:registro' %}" method="post">
            {% csrf_token %}
            <h2>Registro</h2>
            <span class="subtitle">Ingrese sus datos personales</span>
            <input type="text" name="nombre" placeholder="Nombre Completo" minlength="3" required>
            <input type="text" name="direccion" placeholder="Dirección" minlength="10" maxlength="110" required>
            <input type="text" name="telefono" placeholder="Teléfono" minlength="10" maxlength="10" required>
            <input type="email" name="correo" placeholder="Correo" minlength="4" required>
            <input type="text" name="username" placeholder="User" minlength="4" required>
            <input type="password" name="password" id="passwordField" placeholder="Contraseña" required 
            minlength="8" 
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            title="Debe contener al menos un número, una letra mayúscula, una minúscula y 8 o más caracteres">
                <span id="togglePassword" style="position: absolute; right: 55px; top: 79%; transform: translateY(-50%); cursor: pointer; font-size: 12px; color: #666;">
                    mostrar
                </span>
            </input>
            <button type="submit" class="btn-action">Registrarse</button>
        </form>
    </div>
    

    <div class="form-container sign-in-container">
        <form action="{% url 'usuarios:login' %}" method="post">
            {% csrf_token %}
            <h2>Iniciar sesión</h2>
            <span class="subtitle">Use su usuario y contraseña</span>
            
            {% if messages %}
    {% for message in messages %}
        {% if message.tags != 'success' %}
            
            {# 2. Aplicamos tus clases originales según el tipo de mensaje #}
            <p class="{% if message.tags == 'info' or message.tags == 'success' %}success-msg{% else %}error-msg{% endif %}">
                {{ message }}...
            </p>
             
        {% endif %}
    {% endfor %}
{% endif %}

            {% if error %}
                <p class="error-msg">Datos incorrectos</p>
            {% endif %}

            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" id="FieldPassword" placeholder="Contraseña" required>
                <span id="togPassword" style="position: absolute; right: 60px; top: 60%; transform: translateY(-50%); cursor: pointer; font-size: 12px; color: #666;">
                    mostrar
                </span>
            </input>
            <button type="submit" class="btn-action">Ingresar</button>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h2>¡Hola!</h2>
                <p>Regístrese con sus datos personales para usar todas las funciones del sitio</p>
                <button class="btn-ghost" id="signIn">Iniciar Sesión</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h2>Bienvenido</h2>
                <p>Ingrese sus datos personales para usar todas las funciones del sitio</p>
                <button class="btn-ghost" id="signUp">Registrarse</button>
            </div>
        </div>
    </div>
</div>

<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const passwordField = document.querySelector('#passwordField');

    togglePassword.addEventListener('click', function () {
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);

        this.textContent = (type === 'password') ? 'mostrar' : 'ocultar';
    });
</script>

<script>
    const togPassword = document.querySelector('#togPassword');
    const FieldPassword = document.querySelector('#FieldPassword');

    togPassword.addEventListener('click', function () {
        const type = FieldPassword.getAttribute('type') === 'password' ? 'text' : 'password';
        FieldPassword.setAttribute('type', type);

        this.textContent = (type === 'password') ? 'mostrar' : 'ocultar';
    });
</script>
</body>
</html>