{% extends 'base.html' %}

{% block content %}

<div class="page">

    <!-- TITULO -->
    <div class="page-header">
        <h3>Crear Empleado</h3>
    </div>

    <!-- CARD -->
    <div class="form-card">

        <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="nom_emple">
        </div>

        <div class="form-group">
            <label>Teléfono</label>
            <input type="text" name="tel_emple">
        </div>

        <div class="form-group">
            <label>Correo</label>
            <input type="email" name="correo_emple">
        </div>

        <div class="form-group">
            <label>Dirección</label>
            <input type="text" name="dir_emple">
        </div>

        <div class="form-group">
            <label>RH</label>
            <input type="text" name="rh_emple">
        </div>

        <div class="form-group">
            <label>Fecha Nacimiento</label>
            <input type="date" name="fecha_naci_emple">
        </div>

        <div class="form-group">
            <label>Tipo Identificación</label>
            <input type="text" name="tipo_ident">
        </div>

        <div class="form-group">
            <label>Número Identificación</label>
            <input type="text" name="num_ident">
        </div>

        <div class="form-group">
            <label>Fecha Ingreso</label>
            <input type="date" name="fecha_ing_emple">
        </div>

        <div class="form-group">
            <label>Salario</label>
            <input type="number" step="0.01" name="salari_emple">
        </div>

        <div class="form-group">
            <label>Estado</label>
            <input type="text" name="estado_emple">
        </div>

        <div class="form-group">
            <label>Usuario</label>
            <select name="id_usuario_fk_emple">
                {% for usuario in usuarios %}
                <option value="{{ usuario.id_usuario }}">
                    {{ usuario.username }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-save">Guardar</button>
        </div>

        </form>

    </div>

</div>

{% endblock %}