{% extends 'base.html' %}
{% block content %}

<div class="main-content">
    <div class="container-wide">

        <h2 style="color: #6a0f2e; margin-bottom: 25px; text-align: center;">
            Lista de Pedidos
        </h2>

        <div class="form-card">

            <div style="overflow-x: auto;">
                <table style="width: 100%; border-collapse: collapse;">

                    <thead style="background-color: #6a0f2e; color: white;">
                        <tr>
                            <th style="padding: 12px;">ID</th>
                            <th style="padding: 12px;">Fecha</th>
                            <th style="padding: 12px;">Sub Total</th>
                            <th style="padding: 12px;">Valor Total</th>
                            <th style="padding: 12px;">Estado</th>
                            <th style="padding: 12px;">Método Pago</th>
                            <th style="padding: 12px;">Cliente</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for pedido in pedidos %}
                        <tr style="border-bottom: 1px solid #eee; text-align: center;">
                            
                            <td style="padding: 10px;"><strong>#{{ pedido.id_pedido }}</strong></td>

                            <td>{{ pedido.fecha_ped|date:"d/m/Y" }}</td>

                            <td>${{ pedido.subtotal_ped }}</td>

                            <td style="color: #B87333; font-weight: bold;">
                                ${{ pedido.valor_ped }}
                            </td>

                            <td>
                                <span style="
                                    background: #f5f5f5;
                                    padding: 5px 10px;
                                    border-radius: 20px;
                                    font-size: 12px;
                                    border: 1px solid #A67B5B;">
                                    {{ pedido.estado_ped }}
                                </span>
                            </td>

                            <td>{{ pedido.metodo_pago }}</td>

                            <td>{{ pedido.id_clien_fk.nom_clien }}</td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" style="padding: 20px; text-align: center;">
                                No hay pedidos registrados.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>

    </div>
</div>

{% endblock %}