<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fctura Venta</title>
    <link rel="stylesheet" href="../../CSS/index.css">
<body class="body2">

<div class="main">
    <div class="card">
        <h1>Gestión de factura venta</h1>
        <form th:action="@{/admin/facturaventa/guardar}" method="post" th:object="${facturaVenta}">
            <div class="form-group">
                <input type="text" name="fecha_factura_v" placeholder="Fecha" th:field="*{fechafactuv}" required
                onfocus="this.type='date'" onblur="if(!this.value) this.type='text'">
            </div>
            <div class="form-group">
                <input type="text" name="sub_total_factura_v" id="SubTotal" placeholder=" Sub total de la factura" th:field="*{subtotal_factuv}" required>
                <input type="text" name="iva_factura_v" id = "Iva" placeholder="IVA" th:field="*{iva_factuv}" required>
            </div>
            <div class="form-group">
                <input type="text" name="total_factura_v" id= "Total" placeholder="Total" th:field="*{total_factuv}" required readonly >
                <input type="text" name="metodo_pago" placeholder="Metodo de pago" th:field="*{metodo_pago}" required>
            </div>
            <div class="form-group">
                <input type="text" name="descuento" placeholder="Descuento" th:field="*{descu_factuv}" required>
                <input type="text" name="estado_factura_venta" placeholder="Estado" th:field="*{estado_factuv}" required>
            </div>
            <div class="form-group">
                <label for="empleado">Empleado</label>
                <select th:field="*{empleado.id_empl}" class="form-control" required>
                    <option th:each="e : ${empleados}" th:value="${e.id_empl}" th:text="${e.nomEmple}">Empleado</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cliente">Cliente</label>
                <select th:field="*{cliente.id_clien}" class="form-control" required>
                    <option th:each="c : ${clientes}" th:value="${c.id_clien}" th:text="${c.nomClien}">Cliente</option>
                </select>
            </div>

            <div class="form-group">
                <label for="pedido">Pedido</label>
                <select th:field="*{pedido.id_pedido}" class="form-control" required>
                    <option th:each="p : ${pedidos}" th:value="${p.id_pedido}" th:text="${p.descripcion}">Pedido</option>
                </select>
            </div>
            <div id="mensaje" th:if="${param.success}" style="color:purple; font-weight:bold; margin-bottom:10px;">
                ¡Se insertó correctamente!
            </div>
            <button type="submit" class="save-btn">Insertar</button>
        </form>
    </div>

    <div id="search" class="search">
        <form th:action="@{/admin/facturaventa/buscar}" method="get">
            <input type="text" name="buscar" placeholder="Escribe una palabara" id="searchInput">
            <input type="submit" value="Buscar" id="btnSearch">
        </form>
    </div>

    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Fecha</th>
            <th>Sub total</th>
            <th>IVA</th>
            <th>Total</th>
            <th>metodo de pago</th>
            <th>Descuento</th>
            <th>estado</th>
            <th>Numero de empleado que a registro</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${facturas}">
            <td th:text="${r.id_factuv}"></td>
            <td th:text="${r.fechafactuv}"></td>
            <td th:text="${r.subtotal_factuv}"></td>
            <td th:text="${r.iva_factuv}"></td>
            <td th:text="${r.total_factuv}"></td>
            <td th:text="${r.metodo_pago}"></td>
            <td th:text="${r.descu_factuv}"></td>
            <td th:text="${r.estado_factuv}"></td>
            <td th:text="${r.empleado.id_empl}"></td>
            <td th:text="${r.cliente.id_clien}"></td>
            <td th:text="${r.pedido.id_pedido}"></td>
            <td>
                <a class="btn-accion" th:href="@{'/admin/facturaventa/editar/' + ${r.id_factuv}}">Actualizar</a>
                <a class="btn-accion" th:href="@{'/admin/facturaventa/eliminar/' + ${r.id_factuv}}">Eliminar</a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(roles)}">
            <td colspan="3">No se encontraron resultados</td>
        </tr>
        </tbody>
    </table>
</div>

<!---------JAVA SCRIPT----->
<script src="/js/confirmacion.js"></script>
<script src="/js/eliminar.js"></script>
<!----------CALCULO-------------->
<script>
    const subTotal = document.getElementById("SubTotal");
    const iva = document.getElementById("Iva");
    const total = document.getElementById("Total");

    function calcularTotal() {
    const sub = parseFloat(subTotal.value) || 0;
    const ivaPct = parseFloat(iva.value) || 0;

    const tot = sub + (sub * ivaPct / 100);

    total.value = tot.toFixed(2); // 2 decimales
    }


    subTotal.addEventListener("input", calcularTotal);
    iva.addEventListener("input", calcularTotal);
</script>
<!------HEADER----------------->
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const toggleBtn = document.getElementById("formToggle");
      const submenu = document.getElementById("submenuForm");

      toggleBtn.addEventListener("click", function(e) {
        e.preventDefault();
        submenu.classList.toggle("show");
      });
    });
</script>

</body>
</html>
>