<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Gestión de Empleados</title>
    <link rel="stylesheet" th:href="@{/CSS/index.css}">
</head>
<!-- Header admin -->
<div th:replace="~{itemss/headeradmin :: miHeader}"></div>
<table xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>direccion</th>
        <th>Telefono</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r : ${cliente}">
        <td th:text="${r.id_pedido}"></td>
        <td th:text="${r.nomPed}"></td>
        <td th:text="${r.dir_clien}"></td>
        <td th:text="${r.tel_clien}"></td>
        <td th:text="${r.correo}"></td>

        <td>
            <a class="btn-accion" th:href="@{'/cliente/editar/' + ${r.id_clien}}">Actualizar</a>
            <a class="btn-eliminar" th:href="@{'/cliente/eliminar/' + ${r.id_clien}}" style="margin-top: 10px">Eliminar</a>
        </td>
    </tr>
    <tr th:if="${cliente!= null and #lists.isEmpty(cliente)}">
        <td colspan="15">No se encontraron resultados</td>
    </tr>
    </tbody>
</table>
</div>

<!---------JAVA SCRIPT----->
<!------HEADER----------------->
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const toggleBtn = document.getElementById("formToggle");
      const submenu = document.getElementById("submenuForm");

      toggleBtn.addEventListener("click", function(e) {
        e.preventDefault();
        submenu.classList.toggle("show");
      });
    });
</script>

</body>
</html>