<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fctura Venta</title>
    <link rel="stylesheet" href="../../CSS/listas.css">
</head>
<body class="body2">
<div th:replace="~{itemss/headeradmin :: miHeader}"></div>

<div id="search" class="search">
    <form th:action="@{/admin/facturaventa/buscar}" method="get">
        <input type="text" name="buscar" placeholder="Escribe una palabara" id="searchInput">
        <input type="submit" value="Buscar" id="btnSearch">
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>Código</th>
        <th>Link</th>
        <th>Nombre</th>
        <th>Talla</th>
        <th>Color</th>
        <th>Categoria</th>
        <th>Material</th>
        <th>Cantidad</th>
        <th>Descripción</th>
        <th>Fecha Pedido</th>
        <th>Subtotal</th>
        <th>Valor total</th>
        <th>Estado</th>
        <th>Cliente</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r : ${pedidos}">
        <td th:text="${r.id_pedido}"></td>
        <td th:text="${r.link_ped}"></td>
        <td th:text="${r.nomPed}"></td>
        <td th:text="${r.talla_ped}"></td>
        <td th:text="${r.color_ped}"></td>
        <td th:text="${r.categoria_ped}"></td>
        <td th:text="${r.material_ped}"></td>
        <td th:text="${r.cant_ped}"></td>
        <td th:text="${r.fecha_ped}"></td>
        <td th:text="${r.subtotal_ped}"></td>
        <td th:text="${r.valor_ped}"></td>
        <td th:text="${r.estado_ped}"></td>
        <td th:text="${r.cliente}"></td>
        <td>
            <a class="btn-accion" th:href="@{'/admin/facturaventa/editar/' + ${r.id_pedido}}">Actualizar</a>
            <a class="btn-accion" th:href="@{'/admin/facturaventa/eliminar/' + ${r.id_pedido}}">Eliminar</a>
        </td>
    </tr>
    <tr th:if="${#lists.isEmpty(roles)}">
        <td colspan="3">No se encontraron resultados</td>
    </tr>
    </tbody>
</table>
</div>

<!---------JAVA SCRIPT----->
<script src="/js/confirmacion.js"></script>
<script src="/js/eliminar.js"></script>
<!----------CALCULO-------------->
<script>
    const subTotal = document.getElementById("SubTotal");
    const iva = document.getElementById("Iva");
    const total = document.getElementById("Total");

    function calcularTotal() {
    const sub = parseFloat(subTotal.value) || 0;
    const ivaPct = parseFloat(iva.value) || 0;

    const tot = sub + (sub * ivaPct / 100);

    total.value = tot.toFixed(2); // 2 decimales
    }


    subTotal.addEventListener("input", calcularTotal);
    iva.addEventListener("input", calcularTotal);
</script>
<!------HEADER----------------->
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const toggleBtn = document.getElementById("formToggle");
      const submenu = document.getElementById("submenuForm");

      toggleBtn.addEventListener("click", function(e) {
        e.preventDefault();
        submenu.classList.toggle("show");
      });
    });
</script>

</body>
</html>