{% extends 'usuarios/base.html' %}

{% block content %}

<h2>Editar Empleado</h2>

<form method="POST">
{% csrf_token %}

<label>Nombre</label>
<input type="text" name="nom_emple" value="{{ empleado.nom_emple }}">

<label>Teléfono</label>
<input type="text" name="tel_emple" value="{{ empleado.tel_emple }}">

<label>Correo</label>
<input type="email" name="correo_emple" value="{{ empleado.correo_emple }}">

<label>Dirección</label>
<input type="text" name="dir_emple" value="{{ empleado.dir_emple }}">

<label>RH</label>
<input type="text" name="rh_emple" value="{{ empleado.rh_emple }}">

<label>Fecha Nacimiento</label>
<input type="date" name="fecha_naci_emple" value="{{ empleado.fecha_naci_emple|date:'Y-m-d' }}">

<label>Tipo Identificación</label>
<input type="text" name="tipo_ident" value="{{ empleado.tipo_ident }}">

<label>Número Identificación</label>
<input type="text" name="num_ident" value="{{ empleado.num_ident }}">

<label>Fecha Ingreso</label>
<input type="date" name="fecha_ing_emple" value="{{ empleado.fecha_ing_emple|date:'Y-m-d' }}">

<label>Salario</label>
<input type="number" step="0.01" name="salari_emple" value="{{ empleado.salari_emple }}">

<label>Estado</label>
<input type="text" name="estado_emple" value="{{ empleado.estado_emple }}">

<label>Usuario</label>
<select name="id_usuario_fk_emple">

{% for usuario in usuarios %}
<option value="{{ usuario.id_usuario }}"
{% if usuario.id_usuario == empleado.id_usuario_fk_emple %}
selected
{% endif %}
>
{{ usuario.username }}
</option>
{% endfor %}

</select>

<button type="submit">Actualizar</button>

</form>

{% endblock %}