{% extends 'usuarios/base.html' %}

{% block content %}

<h2>Lista de Empleados</h2>

<a href="/empleados/crear/">Crear Empleado</a>

<table border="1">

<tr>
<th>ID</th>
<th>Nombre</th>
<th>Teléfono</th>
<th>Correo</th>
<th>Dirección</th>
<th>Tipo de sangre</th>
<th>Fecha Nacimiento</th>
<th>Tipo de documento</th>
<th>Número de documento</th>
<th>Fecha Ingreso</th>
<th>Salario</th>
<th>Estado</th>
<th> Nombre de Usuario</th>
<th>Acciones</th>
</tr>

{% for empleado in empleados %}
<tr>

<td>{{ empleado.id_emple }}</td>
<td>{{ empleado.nom_emple }}</td>
<td>{{ empleado.tel_emple }}</td>
<td>{{ empleado.correo_emple }}</td>
<td>{{ empleado.dir_emple }}</td>
<td>{{ empleado.rh_emple }}</td>
<td>{{ empleado.fecha_naci_emple }}</td>
<td>{{ empleado.tipo_ident }}</td>
<td>{{ empleado.num_ident }}</td>
<td>{{ empleado.fecha_ing_emple }}</td>
<td>{{ empleado.salari_emple }}</td>
<td>{{ empleado.estado_emple }}</td>
<td>{{ empleado.id_usuario_fk.username }}</td>

<td>
<a href="/empleados/editar/{{empleado.id_emple}}/">Editar</a>
<a href="/empleados/eliminar/{{empleado.id_emple}}/">Eliminar</a>
</td>

</tr>
{% endfor %}

</table>

{% endblock %}