<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fctura Venta</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
<body class="body2">
<div class="main">
    <div class="card">
        <h1>Gestión de factura venta</h1>
        <form th:action="@{/admin/facturaventa/guardarAdmin}" method="post" th:object="${facturaVenta}">

            <input type="hidden" name="id_factuv" th:field="*{id_factuv}">

            <div class="form-group">

                <label for="nombre">Fecha</label>
                <input type="text" name="fecha_factura_v" placeholder="Fecha" th:field="*{fechafactuv}" required
                       onfocus="this.type='date'" onblur="if(!this.value) this.type='text'">
            </div>

            <div class="form-group">

                <label for="nombre">Sub total</label>
                <input type="text" name="sub_total_factura_v" id="SubTotal" placeholder=" Sub total de la factura" th:field="*{subtotal_factuv}" required>

                <label for="nombre">Fecha</label>
                <input type="text" name="iva_factura_v" id = "Iva" placeholder="IVA" th:field="*{iva_factuv}" required>

            </div>

            <div class="form-group">

                <label for="nombre">Total</label>
                <input type="text" name="total_factura_v" id= "Total" placeholder="Total" th:field="*{total_factuv}" required readonly >

                <label for="nombre">Metodo Pago</label>
                <select th:field="*{metodo_pago}" required style="border-radius:8px">
                    <option value="Pse">Pse</option>
                    <option value="Billetera babcaria">Billeteras digitales (nequi,daviplata)</option>
                    <option value="Efectivo">Efectivo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="nombre">Descuento</label>
                <input type="text" name="descuento" placeholder="Descuento" th:field="*{descu_factuv}" required>

                <label for="nombre">Estado</label>
                <select th:field="*{estado_factuv}" required style="border-radius:8px">
                    <option value="Pendiente">Pendiente</option>
                    <option value="Pagada">Pagada</option>
                    <option value="Abonada">Abonada</option>
                </select>
            </div>
            <div class="form-group">

                <label for="nombre">Empleado</label>
                <select th:field="*{empleado.idEmple}" class="form-control" required>
                    <option th:each="e : ${empleados}" th:value="${e.idEmple}" th:text="${e.nomEmple}">Empleado</option>
                </select>

                <label for="nombre">Cliente</label>
                <select th:field="*{cliente.id_clien}" class="form-control" required>
                    <option th:each="c : ${clientes}" th:value="${c.id_clien}" th:text="${c.nomClien}">Cliente</option>
                </select>

                <label for="nombre">Pedio</label>
                <select th:field="*{pedido.id_pedido}" class="form-control" required>
                    <option th:each="p : ${pedidos}" th:value="${p.id_pedido}" th:text="${p.desc_ped}"></option>
                </select>
            </div>
            <div id="mensaje" th:if="${param.success}" style="color:purple; font-weight:bold; margin-bottom:10px;">
                ¡Se insertó correctamente!
            </div>
            <button type="submit" class="save-btn">Insertar</button>
        </form>
    </div>
</div>
</body>
</html>