 <!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">

    <title>Gestión de Empleados</title>
</head>
<body class="body2">

<!-- Header admin -->
<div th:replace="~{itemss/headeradmin :: miHeader}"></div>

<div class="main">
    <div class="card">
        <h1 th:text="${empleado != null and empleado.idEmple != null} ? 'Editar Empleado' : 'Gestión de Empleados'"></h1>

        <form class="formulario-mensaje" th:action="@{/admin/empleado/guardar}" method="post" th:object="${empleado}">

            <div class="form-group">
                <input type="text" placeholder="Nombre" th:field="*{nomEmple}" required>
                <input type="text" placeholder="Teléfono" th:field="*{tel_emple}">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Correo" th:field="*{correo}">
                <input type="text" placeholder="Dirección" th:field="*{dir_emple}">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Tipo de sangre" th:field="*{rh_emple}">
                <input type="text" placeholder="Fecha nacimiento"
                       onfocus="this.type='date'" onblur="if(!this.value) this.type='text'" th:field="*{fecha_naci_emple}">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Fecha ingreso"
                       onfocus="this.type='date'" onblur="if(!this.value) this.type='text'" th:field="*{fecha_ing_emple}">
                <select th:field="*{tipo_ident}" style="border-radius: 8px">
                    <option value="">-- Tipo identificacion --</option>
                    <option value="CC">Cédula de Ciudadanía</option>
                    <option value="CE">Cédula Extranjera</option>
                    <option value="PEP">Permiso Especial de Permanencia</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Número ID" th:field="*{num_ident}">
                <input type="text" placeholder="Salario" th:field="*{salari_emple}">
            </div>
            <div class="form-group">
                <select th:field="*{estado_emple}" required style="border-radius:8px">
                    <option value="">-- Seleccione estado --</option>
                    <option value="Activo">Activo</option>
                    <option value="Incapacidad">Incapacidad</option>
                    <option value="Retirado">Retirado</option>
                </select>
            </div>
            <button type="submit" class="save-btn">Insertar</button>
        </form>

        <div id="mensaje" th:if="${param.success}" style="color:purple; font-weight:bold; margin-bottom:10px;">
            ¡Se insertó correctamente!
        </div>
    </div>

    <!-- BUSCADOR -->
    <div id="search" class="search">
        <form th:action="@{/admin/empleado/buscar}" method="get">
            <input type="text" name="buscar" placeholder="Escribe lo que quieras consultar" id="searchInput">
            <input type="submit" value="Buscar" id="btnSearch">
        </form>
    </div>

    <!-- TABLA DE EMPLEADOS -->
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>Rh</th>
            <th>Fecha de nacimiento</th>
            <th>Tipo ID</th>
            <th>Número ID</th>
            <th>Fecha de ingreso</th>
            <th>Salario</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${empleados}">
            <td th:text="${r.nomEmple}"></td>
            <td th:text="${r.tel_emple}"></td>
            <td th:text="${r.correo}"></td>
            <td th:text="${r.dir_emple}"></td>
            <td th:text="${r.rh_emple}"></td>
            <td th:text="${r.fecha_naci_emple}"></td>
            <td th:text="${r.tipo_identificacion}"></td>
            <td th:text="${r.num_indetificacion}"></td>
            <td th:text="${r.fecha_ing_emple}"></td>
            <td th:text="${r.salari_emple}"></td>
            <td th:text="${r.estado_emple}"></td>
            <td>
                <a class="btn-accion" th:href="@{'/admin/empleado/editar/' + ${r.idEmple}}">Actualizar</a>
                <br>
                <br>
                <a
                        href="javascript:void(0)"
                        class="btn-eliminar"
                        th:data-id="${r. idEmple}">
                    Eliminar
                </a>


            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(roles)}">
            <td colspan="3">No se encontraron resultados</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Scripts -->
<script th:src="@{/js/fk.js}"></script>
<script th:src="@{/js/confirmacion.js}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const toggleBtn = document.getElementById("formToggle");
      const submenu = document.getElementById("submenuForm");

      toggleBtn?.addEventListener("click", function(e) {
        e.preventDefault();
        submenu?.classList.toggle("show");
      });
    });
</script>

</body>
</html>
